body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card {
  margin: 2%;
  text-align: center;
  transition: transform 0.5s;
}
.card a {
  text-decoration: none;
}
.card:hover {
  transform: translateY(20px);
}
